<body>
    <div class="container">
        <div class="photo-gallery">
            <div class="item1">
                <img src="../../assets/one.png" class="gallery_img" alt="">
            </div>
            <div class="item2">
                <img src="../../assets/two.png" class="gallery_img" alt="">
            </div>
            <div class="item3">
                <img src="../../assets/three.png" class="gallery_img" alt="">
            </div>
            <div class="item4">
                <img src="../../assets/four.png" class="gallery_img" alt="">
            </div>
            <div class="item5">
                <img src="../../assets/five.png" class="gallery_img" alt="">
            </div>
            <div class="item6">
                <img src="../../assets/six.png" class="gallery_img" alt="">
            </div>

        </div>
    </div>
</body>